<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="modulo1" id="modulo1">
            <module name="Huatusco_Modulo1"/>
        </route>
    </router>
</config>
<!-- http://local-magehuatusco.com.mx/modulo1/index/test-->