<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
       <add id="Huatusco_Productos::menu"
           title="Productos Menu" module="Huatusco_Productos"
           sortOrder="10"
           resource="Magento_Backend::content"
            />
           <!-- START: new node -->  
            <add id="Huatusco_Productos::menu_item"
                title="Agregar Items" module="Huatusco_Productos"
                sortOrder="10" parent="Huatusco_Productos::menu"
                action="Productos/Create/index"
                resource="Huatusco_Productos::menu_item"
                />
            <!-- END:   new node -->
   </menu>
</config>
